@media screen and (orientation:landscape){

}

@media screen and (orientation: portrait){
  
}

summary{
  text-transform: capitalize;
}

button {
  padding:max(5px,0.5%);
}

table input[type=number]{
  width: 5ch;
}

input#budget[type=number]{
  width: 7ch;
}

td input[type=text]{
  width: 15ch;
}

td span {
  opacity: 0.5;
}